name: release
on:
  release:
    types: [created]
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.release.target_commitish }}

      - name: Validate and extract release information
        id: release
        uses: manovotny/github-releases-for-automated-package-publishing-action@v2.0.1

      - name: Set node version and build
        uses: actions/setup-node@v6
        with:
          always-auth: true
          node-version: 18
          registry-url: 'https://registry.npmjs.org'
      - run: corepack enable
      - run: yarn
      - run: yarn build

      - name: Publish version
        run: yarn npm publish --access public
        env:
          YARN_NPM_AUTH_TOKEN: ${{ secrets.NPM_API_TOKEN }}
